target
Cargo.lock
docker/sota_client
docker/sota-installer

pkg/client.toml
pkg/sota_client
pkg/*.tar.gz
pkg/*.tar.xz
pkg/*.dsc
pkg/*.build
pkg/*.changes
pkg/*.deb
pkg/sota-client_1.0/pkg
pkg/sota-client_1.0/client.toml
pkg/sota-client_1.0/sota_client.service
pkg/sota-client_1.0/debian/sota-client
pkg/sota-client_1.0/debian/*.log
pkg/sota-client_1.0/debian/*.substvars